<%= form_for [@post, @post_comment] do |f| %>
<% if @post_comment.errors.any? %>
<div id ="error_explanation">
  <h2><%= pluralize(@post_comment.errors.count, "error")%> prohibited this article from being saved:</h2>
  
  <ul>
    <% @post_comment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<br>
  <div>
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>