<h1>Comments for <%=@post.title%></h1>
<body>
<table>
  <tbody>
    <th>Comments</th>
    <% @post.post_comments.each do |comment| %>
    <tr id="<%=dom_id(comment)%>">
    <td><%=comment.comment%></td>
      <td><%= link_to "Edit", edit_post_post_comment_path(@post, comment)%></td>
      <td><%= link_to "Delete", post_post_comment_path(@post, comment), method: :delete, data: {confirm: 'Are you sure you want to delete this post?'}%></td>
      <br>
    </tr>
  </tbody>
</table>
</body>
<% end %>
<br>
<%=link_to "Add Comment", new_post_post_comment_path%>
<%=link_to "Back", root_path%>