<%= form_for @post do |f| %>
<% if @post.errors.any? %>
<div id ="error_explanation">
<h2><%= pluralize(@post.errors.count, "error")%> prohibited this article from being saved:</h2>

  <ul>
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<br>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label "Team this post is about:" %>
    <%= f.select :team, options_for_select(@mlb_teams)%>
  </div>
  
  <div>
    <%= f.submit %>
  </div>
  
<% end %>