<h1>Blog Posts</h1>
<body>
<table class="post_table">
  <tbody>
    <th>Title</th>
    <th>Description</th>
    <th>Team post is about</th>
    <% @post.each do |post| %>
    <tr id="<%=dom_id(post)%>">
      <td rowspan = "7"><%= post.title %></td>
      <td><%= post.description %></td>
      <td><%= post.team %></td>
      <td><%= link_to "Edit", edit_post_path(post)%></td>
      <td><%= link_to "Delete", post, method: :delete, data:{confirm: 'Are you sure you want to delete this post?'}%></td>
      <td><%= link_to "Show", post %></td>
      <td><%= link_to "Comments", post_post_comments_path(post)%></td>
      <br>
    </tr>
  </tbody>
</table>
</body>
<% end %>
<br>