/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/**************
GENERAL STYLING
***************/
* {
  box-sizing: border-box;
}

h1 {
  color: black;
  font-size: 30px;
  text-align: center;
  background-color: blanchedalmond;
  margin-top: 0px;
}

footer {
  background-color: blanchedalmond;
  font-weight: bold;
  width: 100%;
  margin: 20px 5px;
  padding: 10px;
  text-align: center;
}
 
html { 
  background: url(baseball.jpg) no-repeat center center fixed; 
  background-size: cover;
  width: 100%;
}

table {
  width: 100%;
  text-align: center;
}

/**************
ERROR MESSAGES
**************/

div.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline;
}

div.alert_success_message {
  color: yellowgreen;
  text-align: center;
  font-size: 15px;
}


div.alert_notice_message {
  color: forestgreen;
  text-align: center;
  font-size: 15px;
}

div.alert_error_message {
  color: yellowgreen;
  text-align: center;
  font-size: 15px;
}


div#error_explanation ul li {
  list-style-type: none;
}

/************
LINKS/BUTTONS
************/

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: lightsteelblue;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

/******
NAV BAR
******/
.nav_bar {
  padding: 20px;
  background-color: black;
  width: 100%;
  height: 100%;
}

/****************
LAYOUT CONTAINERS
****************/

.container {
  padding-left: 1em;
  padding-right: 1em;
  align-content: center;
}

/************
MEDIA QUERIES
************/

@media (min-width: 769px) {
  .container {
    width: 70%;
    margin: 0 auto;
    maw-width: 1000px;
  }
}
