<!DOCTYPE html>
<html>
<head>
  <title id="baseball">Baseball Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'normalize', media: 'all', 'data-tubolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header_wrapper">
  <nav class="nav_bar">
    <%= link_to "Home", posts_path %>
    <%= link_to "New Post", new_post_path %>
  </nav>
  </div>
  <% flash.each do |atr, msg| %>
  <div class="alert_<%=atr%>_message"><%=msg%></div>
  <% end %>
  
  <div class="container">
  <%= yield %>
  </div>
  
  <div class="footer_wrapper">
  <footer>
    <span>Copyright @adam graham 2016</span>
  </footer>
  </div>
  
</body>
</html>
